* {
    margin: 10;
    padding: 0;
}

h1 {
	color: white;
	text-align: center;
	padding: 20px;
	font-family: sans-serif;
}

.row {
    width: 100%;
    height: auto;
}

table input {
    height: 100px;
    width: 100px;
    margin-left: 5px;
    margin-top: 5px;
    text-align: center;
}

.display input {
    height: 100px;
    width: 415px;
    margin-left: 2px;
    margin-bottom: 10px;
    margin-top: 8px;
    text-align: right;
    background: white;
    color: rgb(0, 0, 0);
    font-size: 75px;
	font-family: serif;
	
}

input{
    background-color: rgb(143, 57, 165);
	color: white;
	font-size: 35px;
	font-family: serif;
}

input:hover{
    background-color: rgb(230, 95, 17);
}
